<footer class="site-footer">

  <div class="wrapper">
    <div class="social-links">
      
      <a class="social-link social-twitter" href="https://twitter.com/{{ site.twitter_username }}">
        <i class="icon-twitter"></i>
      </a>
      <a class="social-link social-instagram" href="https://instagram.com/{{ site.instagram_username }}">
        <i class="icon-instagram"></i>
      </a>
      <a class="social-link social-rss" href="{{ "/feed.xml" | relative_url  }}" target="_blank">
        <i class="icon-rss"></i>
      </a>
	  <a class="social-link social-twitter" href="http://www.ivoox.com/s_p2_495004_1.html">
        <i class="icon-podcast"></i>
      </a>
	  <a class="social-link social-twitter" href="https://itunes.apple.com/es/podcast/centauros-del-desierto/id1341624405?l=en&mt=2">
        <i class="icon-itunes"></i>
      </a>
    </div>
    <div class="credits">
      Centauros del Desierto, con <i class="icon-heart"></i> desde Barcelona. | <a href="http://www.ivoox.com/s_p2_495004_1.html">Suscríbete al podcast</a> 
    </div>
  </div>

</footer>
